<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.campus.mapper.AdminMapper">

	<insert id="itemsEnroll">
		insert into tbl_items(itemName,price,quantity,category,thumbnail,details)
		values(
		#{itemName},
		#{price},
		#{quantity},
		#{category},
		#{thumbnail},
		#{details}
		)
	</insert>

</mapper>